body{
    font-family: 'Poppins', sans-serif;
    max-width: 1600px;
}

/*header*/

#logo{
    scale: 80%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 30px;
}
#navlist{
    display: flex;
    gap: 25px;
    list-style: none;
}
.home{
    text-decoration: none;
    color: #000;
}
.products{
    text-decoration: none;
    color: #000;
}
.about{
    text-decoration: none;
    color: #000;
}
.navbar{
    color: #000;
    text-decoration-color: #e6bd43;
    text-decoration-line: underline;
    font-weight: 650;
}
.navbargul{
    text-decoration: none;
    color: #000;
    background-color: #e6bd43;
    font-weight: 1000;
    padding: 20px;
    padding-right: 30px;
    padding-left: 30px;
}


/*top of page btn*/

.upage{
    background-color: #252525;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}
.upage i{
    scale: 200%;
}

/*footer*/

footer{
    display: grid;
    grid-template-rows: 50px 100px 50px;
    grid-template-columns: 20px 1fr 1fr 1fr 1fr 1fr 20px;
    background-color: #252525;
    align-items: center;
}
.sosialem{
    grid-area: 2 / 6 / 3 / 7;
    display: flex;
    gap: 50px;
}
#footerlogo{
    grid-area: 2 / 2 / 3 / 3;
    text-decoration: none;
    color: #fff;
    scale: 80%;
}
.companyfooter{
    grid-area: 2 / 4 / 3 / 5;
    color: #fff;
}
#fb{
    scale: 250%;
}
#insta{
    scale: 250%;
}
#linkd{
    scale: 250%;
}

/*index*/

#container{
    position: relative;
    overflow: hidden;
    height: 430px;
}
#video{
    align-self: center;
    position: relative;
    left: 60%; 
    top: 95%;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}
#bildebvid{
    display: none;
}
#vidtext{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    position: absolute;
    top: 30%;
    text-align: center;
}
.header{
    font-size: 50px;
    font-weight: 750;
    margin: 0;
}
.midarticle{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.gularticle{
    background-color: #e6bd43;
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}
.gularticletext{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    padding: 45px;
}
.gularticletxt{
    max-width: 70%;
    padding-bottom: 10px;
}
.knappgul{
    border: 4px solid #000;
    text-align: center;
    max-width: 20%;
    min-width: 20%;
    padding: 20px;
    font-weight: 750;
    text-decoration: none;
    color: #000;
}

.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
#ourservices{
    text-align: center;
    font-size: 45px;
    padding: 50px;
}
.branding{
    text-decoration: none;
    text-align: center;
    max-width: 200px;
}
.newsletter{
    background-color: rgb(199, 207, 226);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter1{
    font-size: 50px;
    padding-top: 30px;
}
.newsletter2{
    display: flex;
    padding-bottom: 60px;
}
.newsletter2 input{
    border: none;
    padding-right: 50px;
}
#midplace{
    width: 100%;
    height: 100%;
    min-width: 300px;
    max-width: 400px;
}
#users{
    scale: 220%;
}
#cloud{
    scale: 220%;
}
#code{
    scale: 220%;
}
#wifi{
    scale: 220%;
}

/*portfolio*/

#portfolioside{
    justify-content: center;
}
#portfolioside section hr{
    border-top: 3px solid #e6bd43;
    color: #e6bd43;
}
#portb{
    width: 100%;
    object-fit: cover;
    max-height: 460px;
    opacity: 0.7;
}
#portbtext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.porth2{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    font-size: 25px;
}
#portnavig{
    display: flex;
    align-items: start;
    list-style-type: none;
    gap: 15px;
    padding-top: 50px;
}
.portnav{
    padding: 10px;
    border: solid 2px #000;
    color: #000;
}
.portnav{
    text-decoration: none;
    color: #000;
}
#img1{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#img2{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#img3{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.img-1{
    padding: 40px;
    flex-grow: 1;
    max-width: 692px;
    font-size: 20px;
    font-weight: 600;
}
.img-1 img{
    width: 100%;
}

.img-2{
    padding: 40px;
    flex-grow: 1;
    max-width: 692px;
    font-size: 20px;
    font-weight: 600;
}
.img-2 img{
    width: 100%;
}
.img-3{
    padding: 40px;
    flex-grow: 1;
    max-width: 692px;
    font-size: 20px;
    font-weight: 600;
}
.img-3 img{
    width: 100%;
}


/*about us*/

main iframe{
    width: 100%;
    max-height: 400px;
}
#aboutb{
    width: 100%;
    object-fit: cover;
    max-height: 460px;
}
#aboutbtext{
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    height: 400px;
    max-height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    width: 45%;
    margin-top: 40px;
}
#aboutbtext article{
    padding-bottom: 50px;
}
#aboutbtext p{
    padding-top: 30px;
}
.clients{
    background-color: #e6bd43;
    text-align: center;
    padding: 40px;
    font-size: 35px;
}
.clientsb{
    scale: 80%;
    padding: 10px;
}
.cus1{
    background-color: rgb(199, 207, 226);
    padding: 45px;
}
.cus1 h2{
    text-align: center;
    font-weight: 650;
    font-size: 45px;
}
.cus{
    display: flex;
    justify-content: space-evenly;
}
.aboutart1{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    max-width: 30%;
}
.aboutart1 p i{
    padding-right: 20px;
}
.inputsmall{
    border: none;
    padding: 15px;
}
.inputlarge{
    border: none;
    padding: 70px;
}
.navbargul1{
    padding: 20px;
    background-color: #e6bd43;
    color: #000;
    max-width: 150px;
    margin-top: 20px;
    text-align: center;
    font-weight: 650;
}

/*media queries*/

@media (hover:hover) {
    .navbargul:hover {
        background-color: #000;
        color: #e6bd43;
    }
    .knappgul:hover{
        background-color: #000;
        color: #e6bd43;
    }
    .portnav:hover{
        font-weight: 600;
        background-color: #000;
        color: #e6bd43;
    }
    .navbargul1:hover{
        background-color: #000;
        color: #e6bd43;
    }
    .img-3:hover{
        transition: 0.3s;
        scale: 1.05;
    }
    .img-2:hover{
        transition: 0.3s;
        scale: 1.05;
    }
    .img-1:hover{
        transition: 0.3s;
        scale: 1.05;
    }
}

@media (max-width: 930px) {
    #video{
        display: none;
    }
    #bildebvid{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    #container{
        overflow: hidden;
    }
    .gularticle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 25%;
        padding-right: 25%;
    }
    .gularticletext{
        padding: 0;
        align-items: start;
        justify-content: center;
    }
    .gularticletxt{
        width: 100%;
        min-width: fit-content;
    }
    .knappgul{
        width: 100%;
        min-width: fit-content;
    }
    .cus{
        display: flex;
        flex-direction: column;
    }
    .aboutart1{
        max-width: 100%;
    }
    #aboutb{
        max-width: fit-content;
        min-width: 100%;
        min-height: 550px;
    }
    #aboutbtext{
        min-width: 80%;
        align-items: center;
        left: 50%;
        top: 66%;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    #navlist{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }
    #portbtext{
        top: 60%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #footerlogo{
        padding: 0;
        align-items: center;
    }
    .companyfooter{
        padding: 0;
    }
    .sosialem{
        padding: 0;
    }
    .newsletter1{
        font-size: 25px;
        text-align: center;
    }
    .newsletter2{
        scale: 90%;
    }
}

@media (max-width: 509px) {
    #aboutbtext{
        padding-bottom: 20px;
    }
    #portbtext{
        top: 50%;
        font-size: 40px;
    }
}

@media (max-width: 449px) {
    #aboutbtext{
        padding-bottom: 100px;
    }
}

@media (max-width: 600px) {
    #vidtext{
        top: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    #bildebvid{
        height: fit-content;
    }
    .header{
        font-size: 30px;
    }
    .midarticle{
        padding-top: 0;
    }
    .newsletter2{
        scale: 80%;
    }
}

@media (max-width:415px) {
    #vidtext{
        top: 1%;
    }
}

@media (max-width:424px) {
    .clients{
        padding: 15px;
    }
}